@main-font: 'Asar', serif;

@font-size: 21px;
@line-height: 28px;
@line-height-half: 14px;
@line-height-quarter: 7px;
@line-height-double: 56px;

@color-text: darken(#8A2F37, 10%);
@color-text-desat: desaturate(@color-text, 35%);
@color-text-pale: lighten(@color-text-desat, 70%);


@color-bkg: #83E3C4;
@color-bkg-dark: darken(@color-bkg, 20%);
@color-bkg-desat: desaturate(@color-bkg, 20%);
@color-bkg-pale: lighten(@color-bkg-desat, 22%);

@color-data: desaturate(#F6E070, 20%);
@color-data-dark: #F6E070;

@color-form-active: #0489D5;

@modal-border: 2px @color-bkg-pale solid;
@top-box-padding: @line-height-quarter @line-height-half 0 @line-height-half;
//@modal-blank-border: 2px #fff solid;
//
// .color1, .color2, .color3, .color4, .color5, .color6, .color7, .color8, .color9 {
// 	height: 100px;
// 	width: 100px;
// }
//
// .color1 {
// 	background-color: @color-bkg;
// }
// .color2 {
// 	background-color: @color-bkg-dark;
// }
// .color3 {
// 	background-color: @color-bkg-desat;
// }
// .color4 {
// 	background-color: @color-bkg-pale;
// }
// .color5 {
// 	background-color: @color-bkg-opp-pale;
// }
// .color6 {
// 	background-color: @color-text;
// }
// .color7 {
// 	background-color: @color-text-inactive;
// }
// .color8 {
// 	background-color: @color-text-pale;
// }
// .color9 {
// 	background-color: @color-text-opp-pale;
// }
