
@import '_reset.less';
@import '_variables.less';
@import '_mixins.less';
@import '_extends.less';

.all-items {
	width: 100%;
}

body {
	font-family: @main-font;
	font-size: @font-size;
	line-height: 1.5;
	color: @color-text-desat;
	background-color: #fff;
	width: 100%;
}


.box-of-items {
	box-sizing: border-box;
	width: 100%;
	padding: @line-height-quarter;
	display: flex;
	flex-wrap: wrap;
	div {
		box-sizing: border-box;
		width: 50%;
		padding: @font-size;
		border: @line-height-quarter #fff solid;
		background-color: @color-bkg-pale;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		button {
			box-sizing: border-box;
			width: 100%;
			padding: @line-height-quarter;
			margin: @line-height-quarter 0 0 0;
			background-color: @color-bkg-desat;
			color: @color-text-desat;
			border: none;
			&:active {
				text-align: right;
			}
		}
	}
}

.content {
	width: 100%;
}

.context-title {
	box-sizing: border-box;
	width: 100%;
	display: flex;
	justify-content: center;
	padding: @line-height-quarter;
	background-color: @color-bkg-pale;
}

h1 {
	font-size: @font-size * 1.5;
}

h2 {
	font-size: @font-size * 1.25;
}

h4 {
	font-size: @font-size * 1.125;
}

header {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	background-color: darken(@color-bkg-desat, 5%);
	//background-image: linear-gradient(45deg, darken(@color-bkg-desat, 10%), darken(@color-bkg-desat, 5%));


}

header span {
	padding: @line-height-quarter @line-height-half;
}

.header {
	display: flex;
	width: 100%;
	justify-content: space-around;
	background-image: linear-gradient(45deg, @color-bkg-desat, saturate(@color-bkg, 10%), @color-bkg-desat);
}
.header span {
	padding: @line-height-quarter 0;
}


/* cosmetic modal styling */
.modal-title {
	width: auto;
	box-sizing: border-box;
	border-top: none;
	border: @modal-border;
	// border-left: @modal-border;
	// border-right: @modal-border;
	// border-bottom: @modal-border;
	padding: @top-box-padding;
	//margin-top: @line-height;
	display: inline-block;
	background: @color-bkg-pale;
	// div {
	// 	position: relative;
	// 	background: #fff;
	// 	top: 5px;
	// 	height: 6px;
	// 	width: 100%;
	// }

}

.dual-button();

form {
	// z-index: 9055;
	box-sizing: border-box;
	display: block;
	border: @modal-border;
	width: 100%;
	padding: @line-height;
	background: @color-bkg-pale;
	//.dual-button();
	.text-field {
		display: flex;
		flex-direction: column;
		align-items: center;
		label {
			background: #fff;
			display: inline-block;
			padding: @top-box-padding;
		}
		input, textarea {
			box-sizing: border-box;
			line-height: 2;
			padding: @line-height-half;
			margin: 0 0 @line-height 0;
			width: 100%;
			font-size: @font-size;
			font-family: @main-font;
			color: @color-text;

		}
		textarea {
			height: @line-height * 5;
		}
	}
	// position: absolute;
	// top: 15px + 14px + 28px; /* border * 5 + @line-height-quarter * 2 + @line-height */
}

.button-container {
	display: flex;
	justify-content: space-between;
	padding: @line-height 0 0 0;
	width: 100%;
	// .dual-button()
}

.button-click {
	.three-part-transition(1ms, opacity, ease);
}

/* radio buttons and checkboxes */
.context-radio input, .done-check input {
	display: none;
}
.context-radio, .done-check {
	display: block;
	margin-bottom: @line-height;
	background: @color-bkg-desat;
	label {
		text-align: left;
		display: block;
		padding: @line-height-half;
	}
}
.context-radio:last-child {
	margin-bottom: 0;
}

input:checked + label {
	background: @color-bkg;
	text-align: right;
	color: @color-text;
	font-weight: 700;
}

.context-label {
	display: inline-block;
}

.contexts {
	width: 100%;
}

.context-label, .contexts {
	box-sizing: border-box;
	background: #fff;
	padding: @line-height-half;
}

.context-box {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Core modal css */
.project-overlay {
	position: fixed;
	z-index: 9000;
	top: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	height: 100%;

	.three-part-transition(1ms, opacity, ease);

	background: rgba(0, 0, 0, 0.4);
}

.project-modal {
	box-sizing: border-box;
	position: absolute;
	z-index: 9050;
	top: 50%;
	left: 50%;

	opacity: 0;

	width: 80%;
	//padding:  0 @line-height @line-height @line-height;

	.three-part-transition(1ms, opacity, ease);

	.translate(-50%, -50%);

	//border-radius: 2px;
	background: transparent;
}

.project-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

// .project-modal.modal-is-open.anchored {
// 	top: 20px;
// 	.translate(-50%, 0);
// }

.project-modal.modal-is-open {
	opacity: 1;
	//top: 0; //moved from anchored
	.translate(-50%, 0); //moved from anchored
}

.project-overlay.modal-is-open{
	opacity: 1;
}


/* Close Button */
// .project-close {
// 	font-size: @font-size;
// 	line-height: 1.5;
//
// 	position: absolute;
// 	top: 5px;
// 	right: 5px;
//
// 	padding: 5px 7px 7px;
//
// 	cursor: pointer;
//
// 	color: #fff;
// 	border: 0;
// 	outline: none;
// 	background: #e74c3c;
// }

// .project-close:hover{
// 	background: #c0392b;
// }

/* Default Animation */

.project-overlay.fade-and-drop {
	display: block;
	opacity: 0;
}

.project-modal.fade-and-drop {
	top: -300%;
	opacity: 1;
	display: block;
}

.project-modal.fade-and-drop.modal-is-open {
	top: 45px; /* 1 layer of 45px header bar */
	.four-part-transition(500ms, top, 500ms, ease);
}

.project-modal.fade-and-drop.modal-is-open.anchored {
	.four-part-transition(500ms, top, 500ms, ease);
}

.project-overlay.fade-and-drop.modal-is-open {
	top: 0;
	.three-part-transition(500ms, opacity, ease);
	opacity: 1;
}

.project-modal.fade-and-drop {
	.three-part-transition(500ms, top, ease);
}

.project-overlay.fade-and-drop {
	.four-part-transition(500ms, opacity, 500ms, ease);
}
