
@import '_reset.less';
@import '_variables.less';
@import '_mixins.less';
@import '_extends.less';


/* ++++++ CSS MENU ++++++ */
/* body, containers, basic elements */
/* headers */
/* buttons */
/* task page */
/* forms */
/* text fields, containers for same */
/* radio buttons, checkboxes, containers for same */
/* structural modal css */
/* modal animation */


/* body, containers, basic elements */

body {
	font-family: @main-font;
	font-size: @font-size;
	line-height: 1.5;
	color: @color-text-desat;
	background-color: #fff;
	width: 100%;
}

.all-items, .content {
	width: 100%;
}

h2 {
	font-size: @font-size * 1.25;
}

h4 {
	font-size: @font-size * 1.125;
}

/* headers */

header {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	background-color: darken(@color-bkg-desat, 5%);
}

.header {
	box-sizing: border-box;
	display: flex;
	width: 100%;
	justify-content: space-around;
	background-image: linear-gradient(45deg, @color-bkg-desat, saturate(@color-bkg, 10%), @color-bkg-desat);
}

header span, .header span {
	padding: @line-height-quarter @line-height-half;
}

.current-page {
	background: @color-bkg-pale;
}

/* buttons */

button {
	box-sizing: border-box;
	padding: @line-height-quarter;
	width: 48%;
	border: none;
	color: @color-text-desat;
	font-size: @font-size * 0.75;
	font-family: @main-font;
	margin: @line-height 0 0 0;
	&[type=submit] {
		background: @color-bkg-desat;
	}
	&[type=button] {
		background: rgba(0, 0, 0, 0.4);
	}
	&:active {
		text-align: right;
		color: @color-text;
	}
}

.full-width-button, .edit-item {
	width: 100%;
	background: @color-bkg-desat;
}

.button-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	// .dual-button()
}

.button-click {
	.three-part-transition(1ms, opacity, ease);
}

/* task page */

.box-of-items {
	box-sizing: border-box;
	width: 100%;
	padding: @line-height-quarter;
	display: flex;
	flex-wrap: wrap;
	div {
		box-sizing: border-box;
		width: 50%;
		padding: @font-size;
		border: @line-height-quarter #fff solid;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		//align-self: stretch;
		h4, p {
			text-align: center;
		}
	}
	.undone-items {
		background-color: @color-bkg-pale;
	}
	.done-items {
		background: #ddd;
		button {
			background: #aaa;
		}
	}
}

/* forms */

form {
	box-sizing: border-box;
	display: block;
	border: @modal-border;
	width: 100%;
	padding: 0 @line-height @line-height @line-height;
	background: @color-bkg-pale;
}

/* text fields, containers for same */

.text-field {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: @line-height 0 0 0;
	i {
		box-sizing: border-box;
		background: #fff;
		padding: @line-height-half;
		line-height: 2;
		width: 100%;
	}
	label {
		background: #fff;
		display: inline-block;
		padding: @top-box-padding;
	}
	input, textarea {
		box-sizing: border-box;
		line-height: 2;
		padding: @line-height-half;
		width: 100%;
		font-size: @font-size;
		font-family: @main-font;
		color: @color-text;
	}
	textarea {
		height: @line-height * 5;
	}
}

.hide-show {
	align-self: flex-start;
	span {
		text-decoration: underline;
	}
}

/* radio buttons, checkboxes, containers for same */

.context-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: @line-height 0 0 0;
}
.context-label, .contexts {
	box-sizing: border-box;
	background: #fff;
	padding: @line-height-half;
}
.context-label {
	display: inline-block;
}
.contexts {
	width: 100%;
}

.context-title {
	box-sizing: border-box;
	width: 100%;
	display: flex;
	justify-content: center;
	padding: @line-height-quarter;
	background-color: @color-bkg-pale;
}

/* radio buttons and checkboxes */
.context-radio, .done-check {
	display: block;
	margin: @line-height 0 0 0;
	background: @color-bkg-desat;
	label {
		text-align: left;
		display: block;
		padding: @line-height-half;
	}
	input {
		display: none;
	}
	&:checked + label {
		background: @color-bkg;
		text-align: right;
		color: @color-text;
		font-weight: 700;
	}
}
.context-radio:first-child {
	margin: 0;
}

/* structural modal css */

.modal-title {
	width: auto;
	box-sizing: border-box;
	border-top: none;
	border: @modal-border;
	padding: @top-box-padding;
	display: inline-block;
	background: @color-bkg-pale;
}

.project-overlay {
	position: fixed;
	z-index: 9000;
	top: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	.three-part-transition(1ms, opacity, ease);
	background: rgba(0, 0, 0, 0.4);
}

.project-modal {
	box-sizing: border-box;
	position: absolute;
	z-index: 9050;
	top: 50%;
	left: 50%;
	opacity: 0;
	width: 80%;
	.three-part-transition(1ms, opacity, ease);
	.translate(-50%, -50%);
	background: transparent;
}

.project-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.project-modal.modal-is-open {
	opacity: 1;
	.translate(-50%, 0);
}

.project-overlay.modal-is-open{
	opacity: 1;
}


/* modal animation */

.project-overlay.fade-and-drop {
	display: block;
	opacity: 0;
}

.project-modal.fade-and-drop {
	top: -300%;
	opacity: 1;
	display: block;
}

.project-modal.fade-and-drop.modal-is-open {
	top: 45px; /* 1 layer of 45px header bar */
	.four-part-transition(500ms, top, 500ms, ease);
}

.project-modal.fade-and-drop.modal-is-open.anchored {
	.four-part-transition(500ms, top, 500ms, ease);
}

.project-overlay.fade-and-drop.modal-is-open {
	top: 0;
	.three-part-transition(500ms, opacity, ease);
	opacity: 1;
}

.project-modal.fade-and-drop {
	.three-part-transition(500ms, top, ease);
}

.project-overlay.fade-and-drop {
	.four-part-transition(500ms, opacity, 500ms, ease);
}
