
@import '_reset.less';
@import '_variables.less';
@import '_mixins.less';
@import '_extends.less';

body {
	font-family: @main-font;
	font-size: 20px;
	line-height: 1.5;
	color: @color-text-desat;
	background-color: #fff;
}


.box-of-items {
	width: calc(100% - 1rem);
	padding: 0.5rem;
	display: flex;
	flex-wrap: wrap;
}

.box-of-items div {
	width: calc(50% - 3rem);
	padding: 1rem;
	margin: 0.5rem;
	background-color: fade(@color-bkg-pale, 55);
	//margin: 0.25em;

}

.context-title {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 0.25rem;
	background-color: fade(@color-bkg-pale, 55);
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.25em;
}

header {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	background-color: darken(@color-bkg-desat, 5%);
	//background-image: linear-gradient(45deg, darken(@color-bkg-desat, 10%), darken(@color-bkg-desat, 5%));


}

header span {
	padding: 0.25rem 0.5rem;
}

.header {
	display: flex;
	width: 100%;
	justify-content: space-around;
	background-image: linear-gradient(45deg, @color-bkg-desat, saturate(@color-bkg, 10%), @color-bkg-desat);
}
.header span {
	padding: 0.25rem 0;
}



/* Modal Base CSS */
.project-overlay {
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	height: 100%;

	.three-part-transition(1ms, opacity, ease);

	background: rgba(0,0,0,.6);
}

.project-modal {
	position: absolute;
	z-index: 9999;
	top: 50%;
	left: 50%;

	opacity: 0;

	width: 94%;
	padding: 24px 20px;

	.three-part-transition(1ms, opacity, ease);

	.translate(-50%, -50%);

	border-radius: 2px;
	background: #fff;
}

.project-modal.modal-is-open.anchored {
	top: 20px;
	.translate(-50%, 0);
}

.project-modal.modal-is-open {
	opacity: 1;
}

.project-overlay.modal-is-open{
	opacity: 1;
}

/* Close Button */
.project-close {
	font-size: 24px;
	font-weight: 700;
	line-height: 12px;

	position: absolute;
	top: 5px;
	right: 5px;

	padding: 5px 7px 7px;

	cursor: pointer;

	color: #fff;
	border: 0;
	outline: none;
	background: #e74c3c;
}

.project-close:hover{
	background: #c0392b;
}

/* Default Animation */

.project-overlay.fade-and-drop {
	display: block;
	opacity: 0;
}

.project-modal.fade-and-drop {
	top: -300%;
	opacity: 1;
	display: block;
}

.project-modal.fade-and-drop.modal-is-open {
	top: 50%;
	.four-part-transition(500ms, top, 500ms, ease);
}

.project-modal.fade-and-drop.modal-is-open.anchored {
	.four-part-transition(500ms, top, 500ms, ease);
}

.project-overlay.fade-and-drop.modal-is-open {
	top: 0;
	.three-part-transition(500ms, opacity, ease);
	opacity: 1;
}

.project-modal.fade-and-drop {
	.three-part-transition(500ms, top, ease);
}

.project-overlay.fade-and-drop {
	.four-part-transition(500ms, opacity, 500ms, ease);
}
