<div class="modal-title">
	<span>Delete a Context</span>
</div>

<form id="context-delete">

	<div class="context-box">

		<div class="context-label">

			<span>Context</span>
		</div>

		<div class="contexts">
			{{#each contexts}}
			<div class="context-radio">
				<input type="radio" value="{{contextId}}" name="contextToDelete" />  <label>{{contextName}}</label>
			</div>
			{{/each}}
		</div>
	</div>
<button class="full-width-button" type="submit">Delete Context</button>
</form>
