<div class="modal-title">
	<span>Bulk Change Contexts</span>
</div>

<form id="context-change">
	<div class="context-box">

		<div class="context-label">

			<span>Old Context</span>
		</div>

		<div class="contexts">
			{{#each contexts}}
			<div class="context-radio">
				<input type="radio" value="{{contextId}}" name="oldContext" />  <label>{{contextName}}</label>
			</div>
			{{/each}}
		</div>
	</div>

	<div class="context-box">

		<div class="context-label">

			<span>New Context</span>
		</div>

		<div class="contexts">
			{{#each contexts}}
			<div class="context-radio">
				<input type="radio" value="{{contextId}}" name="newContext" />  <label>{{contextName}}</label>
			</div>
			{{/each}}
		</div>
	</div>
	<button class="context-button" type="submit">Bulk Move Tasks</button>
</form>
