<div>
	<span id="rename-context">Rename a context</span> |
	<span id="change-context">Move all items in one context to another context</span> |
	<span id="delete-context">Delete a context</span>
</div>
