<div class="modal-title">
	<span>Edit Contexts</span>
</div>

		<form id="add-context">
			<div class="text-field">
				<label>New Context</label>
				<input
					type="text"
					name="name"
					pattern=".{3,50}"
					required
					title="Your context must be at least 3 characters."
				/>
			</div>

			<button type="submit">Add Context</button>
			
			<button class="full-width-button" id="rename-context">Rename a Content</button>
			<button class="full-width-button" id="change-context">Bulk Change Contexts</button>
			<button class="full-width-button" id="delete-context">Delete a Context</button>

		</form>
