<div>
	<div class="header">
		<span id="sign-up">Sign Up</span>
	</div>

{{#if data}}
<div class="data">
	{{data}}
</div>
{{/if}}

<div class="getin-form">
	<!-- <form id="deleteTask" method="POST" action="/todos/{{id}}?_method=DELETE" /> -->
	<form id="login-form">
		<h3>Login</h3>
		<div>
			<label>Email</label>
			<input
				type="email"
				name="email"
				autocapitalize="off"
				autocorrect="off"
			/>
		</div>
		<div>
			<label>Password</label>
			<input
				type="password"
				name="password"
			/>
			<div class="hide-show">
				<span class="show">Show</span>
			</div>
		</div>
		<button type="submit">Login</button>
	</form>

</div>
<script>
	$('#login-form').submit(postLogin);
	$('#sign-up').click(getSignup);
	$('.hide-show span').click(hideShow);
</script>
