<div>
	<div class="header">
		<span id="log-out">Log Out</span> | <span id="go-to-dos">Go To To-Dos</span>
	</div>

{{#if data}}
<div class="data">
	{{data}}
</div>
{{/if}}

<div class="getin-form">
	<!-- <form id="deleteTask" method="POST" action="/todos/{{id}}?_method=DELETE" /> -->
	<form id="change-form">
		<h3>Change your email or password</h3>
		<span id="logged-in-email">Current Email Address  {{email}}</span>
		<div>
			<label>Current Password</label>
			<input
				type="password"
				name="password"
				required
			/>
			<div class="hide-show">
				<span class="show">Show</span>
			</div>
		</div>
		<div>
			<label>New Email Address</label>
			<input
				type="email"
				name="newEmail"
				required
				title="Please enter a valid email."
			/>
		</div>
		<div>
			<label>New Password</label>
			<input
				type="password"
				name="newPassword"
				pattern="^\S{8,}$"
				required
				text="Password must have at least 8 characters."
			/>
			<div class="hide-show">
				<span class="show">Show</span>
			</div>
		</div>
		<button type="submit">Change Data</button>
	</form>
	<button type="button" id="delete-account">Delete Account</button>
</div>

<script>
	$('#go-to-dos').click(getTodos);
	$('#change-form').submit(putSettings);
	$('#delete-account').click(deleteAccount);
	$('#log-out').click(logout);
	$('.hide-show span').click(hideShow);
</script>
