<div>
	<div class="header">
		<span id="log-out">Log Out</span> | <span id="go-to-dos">Go To To-Dos</span>
	</div>

{{#if data}}
<div class="data">
	{{data}}
</div>
{{/if}}

<div class="getin-form">
	<!-- <form id="deleteTask" method="POST" action="/todos/{{id}}?_method=DELETE" /> -->
	<form id="change-form">
		<h3>Change your email or password</h3>
		<span id="logged-in-email">{{email}}</span>
		<input
			type="password"
			placeholder="password"
			name="password"
			id="password"
			required
			title="Please enter your password to make changes."
		/>
		<input
			type="email"
			placeholder="new email"
			name="newEmail"
			onchange="if(this.checkValidity()) form.emailConf.pattern = this.value;"
			title="Please enter a valid email."
		/>
		<input
			type="email"
			placeholder="new email (verify)"
			name="emailConf"
			onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Please enter the same email as above.' : '');"
		/>
		<input
			type="password"
			placeholder="new password"
			name="newPassword"
			pattern="^\S{8,}$"
			onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Must have at least 8 characters.' : ''); if(this.checkValidity()) form.passwordConf.pattern = this.value;"
		/>
		<input
			type="password"
			placeholder="new password (verify)"
			name="passwordConf"
			pattern="^\S{8,}$"
			onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Please enter the same new password as above.' : '');"
		/>
		<button type="submit">Change Data</button>
	</form>
	<button type="button" id="delete-account">Delete Account</button>
</div>

<script>
	$('#go-to-dos').click(getTodos);
	$('#change-form').submit(putSettings);
	$('#delete-account').click(deleteAccount);
	$('#log-out').click(logout);
</script>
