<div>
	<div class="header">
		<span id="log-in">Login</span>
	</div>

{{#if data}}
<div class="data">
	{{data}}
</div>
{{/if}}

<div class="getin-form">
	<!-- <form id="deleteTask" method="POST" action="/todos/{{id}}?_method=DELETE" /> -->
	<form id="signup-form">
		<h3>Sign Up</h3>
		<input
			type="email"
			placeholder="email"
			name="email"
			id="signup-email-1"
			onchange="if(this.checkValidity()) form.emailConf.pattern = this.value;"
			required
			title="Please enter a valid email."
		/>
		<input
			type="email"
			placeholder="email"
			name="emailConf"
			id="signup-email-2"
			onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Please enter the same email as above.' : '');"
			required
		/>
		<input
			type="password"
			placeholder="password"
			name="password"
			id="signup-password-1"
			pattern="^\S{8,}$"
			onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Must have at least 8 characters.' : ''); if(this.checkValidity()) form.passwordConf.pattern = this.value;"
			required
		/>
		<input
			type="password"
			placeholder="password"
			name="passwordConf"
			id="signup-password-2"
			pattern="^\S{8,}$"
			onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Please enter the same password as above.' : '');"
			required
		/>
		<button type="submit">Sign Up</button>
	</form>

</div>
