<div>
	<div class="header">
		<span id="log-in">Login</span>
	</div>

{{#if data}}
<div>
	{{data}}
</div>
{{/if}}

<div class="getin-form">
	<!-- <form id="deleteTask" method="POST" action="/todos/{{id}}?_method=DELETE" /> -->
	<form id="signup-form">
		<h3>Sign Up</h3>
		<input type="email" placeholder="email" name="email" />
		<input type="email" placeholder="email" name="email-conf" />
		<input type="password" placeholder="password" name="password" />
		<input type="password" placeholder="password" name="password-conf" />
		<button type="submit">Sign Up</button>
	</form>

</div>
