{{> logged-in}}

{{#if data}}
<div class="data">
	{{data}}
</div>
{{/if}}

<!-- todos -->

<form id="add-todo">
	<select id="context-select">
		{{#each contexts}}
			<option value="{{id}}">{{name}}</option>
		{{/each}}
	</select>
</form>

<form id="add-context">
	<input
		type="text"
		name="name"
		placeholder="new context"
	/>
	<button type="submit">Add New Context</button>
</form>
