{{> logged-in}}

{{#if data}}
<div class="data">
	{{data}}
</div>
{{/if}}

<!-- todos -->

<form id="add-todo">

</form>

<form id ="add-context">

</form>

<select id="context-select">
	{{#each contexts}}
		<option value="{{id}}">{{name}}</option>
	{{/each}}
</select>
